@rendermode InteractiveServer
@inject UserContext UserContext
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Time.log</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Report
            </NavLink>
        </div>
    </nav>
    <div class="logout-button">
        <button class="btn btn-out w-100" @onclick="Logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                <path
                    d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
            Logout
        </button>
    </div>
</div>

@code {
    private async Task Logout()
    {
        await UserContext.ClearUserContextAsync();
        NavigationManager.NavigateTo("/auth", true);
    }
}
