@page "/"
@rendermode InteractiveServer
@inject IAttendanceService AttendanceService
@inject UserContext UserContext

<PageTitle>Dashboard</PageTitle>

<AttendanceTable EmployeeAttendances="@employeesAttendance" />

@if (IsClockedIn)
{
    <button class="time-in" @onclick="HandleTimeOut">Time Out</button>
}
else
{
    <button class="time-in" @onclick="HandleTimeIn">Time In</button>
}


@code {
    private List<EmployeeAttendanceDto> employeesAttendance = new();
    private bool IsClockedIn = false;

    protected override async Task OnInitializedAsync()
    {
        employeesAttendance = await AttendanceService.GetAttendances();
        IsClockedIn = CheckIfClockedIn();
    }
    private bool CheckIfClockedIn()
    {
        if (employeesAttendance == null || employeesAttendance.Count == 0 || UserContext.CurrentEmployee == null)
        {
            return false;
        }
        var employee = employeesAttendance.FirstOrDefault(e => e.Id == UserContext.CurrentEmployee.Id);
        if (employee != null)
        {
            return employee.Attendances.Any(a => a.TimeOut == null);
        }
        return false;
    }
    private async Task HandleTimeIn(MouseEventArgs e)
    {
        var attendance = await AttendanceService.EmployeeTimeIn(UserContext.CurrentEmployee.Id);
        employeesAttendance.First(e => e.Id == UserContext.CurrentEmployee.Id).Attendances.Add(attendance);
        IsClockedIn = true;
    }
    private async Task HandleTimeOut(MouseEventArgs e)
    {
        await AttendanceService.EmployeeTimeOut(UserContext.CurrentEmployee.Id);
        //Refres
        var employee = employeesAttendance.FirstOrDefault(e => e.Id == UserContext.CurrentEmployee.Id);

        if (employee != null)
        {
            var currentAttendance = employee.Attendances.FirstOrDefault(a => a.TimeOut == null);

            if (currentAttendance != null)
            {
                currentAttendance.TimeOut = DateTime.UtcNow;
                StateHasChanged();
            }
        }
    }
}
